
.myFlex{
   display:flex;
   flex-direction: row;
}
.input-filt{
margin-left: 5px;
}
.button {
   background-color:
    #008CBA;
    border-radius: 8px;
    height: 38px;
    text-align: center;
    color: rgb(227, 227, 233);
    
}